*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    height: 100px;
    padding: 1rem 2rem;
    background-color: rgb(4, 15, 53);
    color: #FFF;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    width: 70px;
    height: 70px;
    margin-right: 2rem;
    background-color: #FFF;
    padding: .5rem;
}

.logo{
    display: flex;
    align-items: center;
}

nav .btn{
    height: 50px;
    width: 200px;
    font-size: 1.1rem;
}
/**************Side Navbar**************/
.side-nav{
    position: fixed;
    top:0;
    left: 0;
    background-color: rgb(4, 15, 53);
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 20rem;
    justify-content: space-evenly;
    z-index: -1;
    padding: 1rem;
    margin-top: 2rem;
}
.side-nav button{
    padding: 1rem;
    font-size: 1.5rem;
}