* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
}
button {
	font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b2840;
    padding: 1rem;

}
.logo-container{
    display: flex;
}
.logo{
    width: 8%;
    height: 8%;
}

.college-name{
    /* flex: 1; */
    color: white;
    align-self: center;
    padding-left: 15px;
}
.signup-login{
    padding: 10px;
}
.logButton{
    /* flex:1; */
    padding: 10px;
    width: 200px;
    align-content: center;
    font-size: 1.2rem;
}

.side-nav{
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15vw;
    padding: 2vh;
    background-color: #1b2840;
    
}

.side-nav-button{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}